<div>
    <span>注册验证码如下：</span>
    <p>{{.code}}</p>
</div>

<span>请将验证码填入注册页面验证码处</span></br>
<span>勿将验证码告诉他人</span></br>
<span>该验证码十分钟后过期</span></br>

<div>
    <span>签名：{{.sign_name}}</span></br>
    <span>时间：{{.time_now}}</span></br>
</div>